<div class="container my-5">
    <div class="title title-post">
        <h4>Danh sách bài viết</h4>
        <a href="/posts/create" class="my-background py-2 px-4 text-white">Add -></a>
    </div>
    <div class="mt-4">
        <table class="table">
            <thead class="my-background text-white">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Author</th>
                <th scope="col">CreatedAt</th>
                <th scope="col">UpdatedAt</th>
                <th></th>
                </tr>
            </thead>
            <tbody>

                {{#each posts}}

                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.title}}</td>
                    <td>Otto</td>
                    <td>{{this.author.nameAuthor}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td>
                        <a href="#">Detail</a>
                        <a href="#">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            </table>
    </div>
</div>